body {
    background-color: #2f3144;
}

/*.wrapper {
  width: 418px;
}*/


/**
 * Styles for the entire super power card
 */

.super-power-card {
    height: 280px;
    width: 191px;
    margin: auto;
    margin-top: 35px;
}

/**
 * Styles for blue power cards
 */

.blue-power-card {
    background-image: url(images/def_blue_elite.png);
}

/**
*Styles for red power cards
*/

.red-power-card::before {
    content: url(images/red_elite_small.png);
}

/**
*Stlye for green power cards
*/

.green-power-card::before {
    content: url(images/green_elite_small.png)
}
.card-name {
    position: relative;
    top: 12px;
    left: 30%;
    font-family: Impact, "Arial Black", sans-serif;
    font-size: 18px;
    color: #fcfcfc;
}
div.card-artwork {
    width: 88%;
    position: relative;
    left: 7%;
    top: 8.5%;
    height: 44.5%;
}
div.card-artwork > img.artwork {
    width: 95%;
    position: relative;
    margin: 0 auto 0 auto;
    display: block;
}
div.card-artwork > img.stars {
    position: relative;
    display: block;
    top: -99%;
}
div.card-stats {
    position: relative;
    display: block;
    top: 11%;
    left: 5.5%;
    width: 90%;
    padding: 0;
    margin: 0;
}
div.card-stats > span {
    width: 28%;
    display: inline-block;
    margin: auto;
    position: relative;
    text-align: right;
}
span.rules-text {
    font-family: Helvetica, sans-serif;
    position: relative;
    display: block;
    top: 13.5%;
    width: 55%;
    height: 20%;
    text-align: center;
    text-overflow: ellipsis;
    /*white-space: nowrap; This combined with ellipsis cuts horizontally, but not vertically, google it for vertical*/
    margin: 0 auto;
    font-size: 8.25px;
    color: #FFF;
    overflow: hidden;
}
.rules-text:hover {
    height: 100%;
    background-color: rgba(#4a474b, 0.61)
}
.health {
    font-family: Impact, "Arial Black", sans-serif;
    color: #eb1a1a;
    position: relative;
    top: 0;
    left: 0;
    font-size: 20px;
}
.defense {
    font-family: Impact, "Arial Black", sans-serif;
    color: #0ed4ec;
    position: relative;
    font-size: 20px;
    top: 0;
    left: 0;
}
.speed {
    font-family: Impact, "Arial Black", sans-serif;
    color: #14e662;
    position: relative;
    font-size: 20px;
    top: 0;
    left: 0;
}
